#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Create network configs
DefaultDependencies=no
Requires=make-writeable.service
After=make-writeable.service systemd-modules-load.service
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/create-net-configs.sh
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
